@import "./../../common/mordern-reset.css";
@import "./../../common/base.css";

.container {
  background-color: var(--yellow);
  display: grid;
  grid-template-columns: repeat(14);
  grid-template-rows: repeat(5, auto);
  /* 24px */
  column-gap: 1.5rem;
}

.header {
  background-color: pink;
  grid-column: 1/ 12;
  grid-row: 1 / 1;
}
.navigation {
  background-color: blue;
  grid-column: 1 / 12;
  grid-row: 2 / 3;
}
.main {
  background-color: palegreen;
  grid-column: 1/ 12;
  grid-row: 3 / 10;
}
.book {
  background-color: violet;
  grid-column: 1 / 3;
  grid-row: 1 / 9;
}

.footer {
  background-color: green;
  grid-column: 1 / 12;
  grid-row: 10 / 12;
}
